<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>日報管理システム</title>
<link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<body>
	<h1>日報管理システムへようこそ</h1>
	<h2>【自分の日報一覧】</h2>
	<form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form><br>
	<table>
		<tr>
			<th>氏名</th>
			<th>日付</th>
			<th>タイトル</th>
			<th>操作</th>
		</tr>
		<tr th:each="employee : ${employeelist}">
			<td th:text="${employee.authentication.code}"></td>
			<td th:text="${employee.name}"></td>
			<td><a th:href="@{/employee/detail/{id}/(id=${employee.id})}">詳細を見る</a>
			</td>
		</tr>
	</table>
	<h2 th:text="'（全'+*{count}+'件）'"></h2>
	<a th:href="@{/daily/register}">新規日報の登録</a>
</body>
</html>
